### Data Wrangling Project
### Mahmoud Mustafa Abdullah
### Wrangling Report

#### Important Note: I could not submit on deadline due to the workspace outage problem, as I had all the files on the workspace servers. And after that, I found out it has reverted to an earlier checkpoint, hence I had to redo a big chunk of my work. Thank you for your understanding!

### 1- Gathering

##### Data from the three different sources (archive, image predictions and the api data) were imported into pandas dataframes. The data for twitter api was collected from the tweet-json.txt file available on Udacity.

#### This is how each of the dfs look like:

In [4]:
twitter archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [6]:
image predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [8]:
tweets data that were retrieved

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

### 2. Assessment for each file (visual & programmatic)
Using visual and programmatic (.describe, .info and .value_counts), several data quality and tidiness issues were detected. Among those issues [divided by file]:

#### Issues spotted in the archive df:

Quality:


1- a lot of NaN cases in in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp

2- Invalid data types in timestamp & retweeted_status_timestamp

3- Invalid/Extra data: Since the project needs only original tweets, so the replies and retweets should be removed for the purposes of the project.

4- Invalid/wrong values in rating_denominator and numerator (zeroes, and numerators with decimal points are imported as the the number after the decimal point (9.75 is registered as 75 for example). however these might be exaggeration from the owners.

5- tweet_id is int, should be type object

6- missing column for the fraction of rating_numerator and rating_denominator. they may be merged as one column with (num/denom). (12/10 for example).

Tidiness:

1- doggo/floofer/pupper/puppo: four columns for one variable

2- The three archives need to be merged

#### Issues spotted in the image_pred df:

Quality:

1- inconsistent upper/lower cases in the dogs types columns.

2- some predictions are for other stuff than dogs (paper_towels for example.) meaning that the photo is not of a dog and the entry should be removed.

3- duplicated images in the archive. should be dropped.

4- tweet_id is int, should be type object

5-There are columns that should be dropped (p2 and p3) and have 1 column for prediction and one for the confidence. and then added to the master dataframe (and jpg_url too)

#### Issues with tweet_api
Quality: tweet_id is int, should be type object Other than that, no obvious issues (programmatically or visual)

Tidiness: Need to be merged into the bigger df. (The whole df then needs to be divided into 2 dfs for dogs and tweets).

## 3. Cleaning

In this section, the previously mentioned problems would be fixed (except for the name problems), but any ways the name columns would not be important in the analysis and visualisation steps. The order of the cleaning steps would not be the same as the mentioned assessment notes, as some of the steps should be done first, and some after merging the databases, and some after dividing the master dataframe into two dataframes.

#### 1- Solving the issue of double ratings (Quality)

Using regex, the tweets with more than one rating were found and the rating was replaced with NaN values in a new column for corrected numerators.

#### 2- Solving the issue of decimal numerators (Quality)

All tweets with decimal numerators were found using regex, and then the numerator values were corrected in the corrected numerator column. The old numerator column was replaced by the new one. 
#### (note the difference between the old and corrected values below)

In [42]:
twitter_archive_clean

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

#### 3- Merging the numerator/denominator into one column (Quality)
Now with the rating numerator corrected, there is no need for two columns for numerator/denominator. merging them using concatination with '/' would make it string, which is inconvenient because it is needed in calculation and visualization after. so I divided the numerator/denominator and multiplied by 10, and dropped the numerator/denominator columns.

#### 4- Merging the 3 dataframes (Tidiness)

Then, the 3 dfs needed to be merged for further cleaning, so that some entries would be deleted from the 3 dfs. a copy was made.

#### 5- Removing retweets/replies (Quality)
Since we only need original tweets, retweets/replies were removed using the 'in_reply_to_status_id' and 'retweeted_status_id' columns.

#### 6- Removing htttp code from the source column using regex (Quality)
The http code surronding the tweet source in 'source' column is removed using regex.

#### 7- removing columns we do not need (Quality)

Columns 'in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id','retweeted_status_user_id', 'retweeted_status_timestamp' were removed.

#### 8- Dropping non-dog entries (according to the first prediction) (Quality)
In the predicitions df, some of the photos are not of dogs according to the algorithm (1st prediciton). those entries need to be removed using the False values of 'p1_dog'.

#### 9- Dropping p1_dog p2 p2_conf p2_dog p3 p3_conf p3_dog columns (Quality)
Since we only used the 1st prediction, the above mentioned columns are redundant. p1 and p1_conf were renamed appropriately.

#### 10- Correcting Invalid Datatypes (Quality)
Some datatypes are corrected (tweet_id to object and timestamp to datetime).

#### 11- Dividing the master dataframe into 2 frames (one for the tweets, and the other for the dogs) [Tidiness]
A master dataframe is needed in plots, but dividing the data into two separate dfs for dogs and tweets will help the data to be clearer and meaningful, and they still can be joined by the key column (tweet_id)

#### 12- Merging the dog stages columns into one (Tidiness)
Having 4 columns for dog stages is redundant and actually confusing. Having 1 column makes the data tidy. dogs with unidentifyed stage are marked with a NaN value, and for those with multiple stages, all stages are mentioned. The original 4 columns are dropped.

#### 13- Making the breed_prediction column lowercase (Quality)
breed_prediction column had inconsistent capitalization, so I made all of them in lowercase.

#### This is what data looked like after cleaning (dogs df for example):

In [67]:
dogs

,tweet_id,name,jpg_url,breed_prediction,prediction_confidence,rating/10,dog_stage
7,890240255349198849,Cassie,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,pembroke,0.511319,14.0,doggo
33,884162670584377345,Yogi,https://pbs.twimg.com/media/DEUtQbzW0AUTv_o.jpg,german_shepherd,0.707046,12.0,doggo
72,872967104147763200,None,https://pbs.twimg.com/media/DB1m871XUAAw5vZ.jpg,labrador_retriever,0.476913,12.0,doggo
79,871515927908634625,Napolean,https://pbs.twimg.com/media/DBg_HT9WAAEeIMM.jpg,komondor,0.974781,12.0,doggo
86,869596645499047938,Scout,https://pbs.twimg.com/media/DBFtiYqWAAAsjj1.jpg,chihuahua,0.955156,12.0,doggo

In [114]:
tweets

,tweet_id,timestamp,source,text,expanded_urls,img_num,retweet_count,favorite_count
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,1,6514,33819
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,1,4328,25461
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,2,9774,41048
5,891087950875897856,2017-07-29 00:08:17,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,1,3261,20562
6,890971913173991426,2017-07-28 16:27:12,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets ...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",1,2158,12041

#### This looks way more neat! And the master dataframe (df2) still exists. Also, the two dfs can be joined by tweet_id.

### 4- Storing Data
#### Data were stored in three csv files: tweets_archive.csv, dogs_archive.csv, and twitter_archive_master.csv.

### References:
https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html

https://stackoverflow.com/questions/51782443/np-where-do-nothing-if-condition-fails

https://stackoverflow.com/questions/52782024/reading-dictionary-stored-on-text-file-and-convert-to-pandas-dataframe

https://stackoverflow.com/questions/48140858/json-decoder-jsondecodeerror-extra-data-line-2-column-1-char-190

https://stackoverflow.com/questions/50585275/can-i-join-urls-using-os-path-join-in-python-or-is-there-a-better-way

https://stackoverflow.com/questions/2665866/what-does-wb-mean-in-this-code-using-python

https://nfpdiscussions.udacity.com/t/no-able-to-remove-duplicates-after-using-melt/83176

https://nfpdiscussions.udacity.com/t/data-wrangling-gathering/81672/2

https://nfpdiscussions.udacity.com/t/how-to-read-attribute-in-the-second-level-of-json-fil/82660/3

https://nfpdiscussions.udacity.com/t/im-stuck-in-project-2/41973/5

https://nfpdiscussions.udacity.com/t/pd-melt-inquiry/23200/4

https://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe

https://stackoverflow.com/questions/18039057/python-pandas-error-tokenizing-data

https://github.com/sanjeevai/Wrangle_and_Analyze_data/blob/master/wrangle_act.ipynb

https://verascity.github.io/wrangle_data.html

https://stackoverflow.com/questions/19377969/combine-two-columns-of-text-in-pandas-dataframe

https://stackoverflow.com/questions/19482970/get-list-from-pandas-dataframe-column-headers

https://en.wikipedia.org/wiki/WeRateDogs

https://stackoverflow.com/questions/45184549/python-pandas-new-columns-value-if-the-item-is-in-the-list

https://github.com/bromero26/we-rate-dogs

https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.melt.html#pandas.DataFrame.melt

https://github.com/StefaniePowazny/Wrangle-and-Analyze-Data/blob/master/wrangle_act.ipynb